/* login.css */

/* Contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Estilos para el cuadro de login/registro */
.login-box {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  font-size: 24px;
  text-align: center;
}

.login-box form {
  margin-top: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
}

.login-box input[type="text"],
.login-box input[type="email"],
.login-box input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-box button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}

.switch-button {
  background-color: #6c757d;
}

.switch-button:hover {
  background-color: #5a6268;
}

/* Estilos para el cuadro de recuperación de contraseña */
.password-reset-box {
  margin-top: 10px;
  text-align: center;
}

.password-reset-link {
  color: #007bff;
  cursor: pointer;
}

.password-reset-link:hover {
  text-decoration: underline;
}

